:root {
    --bg: #000;
    --col: #fff;
    --col-a: #ccc;
    --font: "Trebuchet MS";
    --shadow: 0px 0px 16px #fff6;
}

a {
    color: var(--col-a);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

body {
    background: var(--bg);
    color: var(--col);
    font-family: var(--font);
    margin: 24px;
}

.box {
    border: 3px #fff solid;
    box-shadow: var(--shadow);
    margin-top: 24px;
    padding: 24px;
}

button {
    background: var(--col);
    border: 1px var(--col) solid;
    box-shadow: var(--shadow);
    color: var(--bg);
    font-family: var(--font);
}

button:hover {
    background: var(--bg);
    color: var(--col);
}

button:active {
    background: var(--col);
    color: var(--bg);
}

h1, h2 {
    text-align: center;
    text-shadow: var(--shadow);
}

html {
    scroll-behavior: smooth;
}

input {
    background: var(--bg);
    border: 1px var(--col) solid;
    box-shadow: var(--shadow);
    color: var(--col);
    font-family: var(--font);
}

.q {
    padding-left: 24px;
}
